<div class="container">
  <mat-card>
    <form (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label>Titel</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          placeholder="Klacht"
        />
      </div>

      <div class="form-control">
        <label>Notities</label>
        <textarea
          name="notes"
          [(ngModel)]="notes"
          style="height: 200px;"
          placeholder="Medicijnen, bijzonderheden..."
        ></textarea>
      </div>

      <div class="form-control">
        <label>Patient</label>
        <input
          type="text"
          name="patient"
          [(ngModel)]="patient"
          placeholder="Naam"
        />
      </div>

      <div class="form-control">
        <label>Leeftijd</label>
        <input type="number" name="age" [(ngModel)]="age" placeholder="21" />
      </div>
      <div class="form-control">
        <label>Begint</label>
        <input type="datetime-local" name="start" [(ngModel)]="start" />
      </div>
      <div class="form-control">
        <label>Eindigt</label>
        <input type="datetime-local" name="end" [(ngModel)]="end" />
      </div>
      <div class="form-control">
        <button mat-raised-button type="submit" value="Submit">
          Voeg afspraak toe
        </button>
      </div>
    </form>
  </mat-card>
</div>
