.container {
  width: 60%;
  margin: 15px 52px;
}

form {
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: baseline;
}

label {
  flex: 2 1 auto;
  font-size: 0.9rem;
}

input,
textarea {
  flex: 1 1 auto;
  border: 1px solid #00000011;
  padding: 10px;
  font-size: 1rem;
  min-width: 70%;
}
textarea {
  height: 5vh;
  max-width: 70%;
}
button {
  margin: 10px 0;
  flex: 1 1 auto;
}

.danger {
  margin-left: auto;
  background: #ff6161e3;
  padding: 10px;
  font-size: 1rem;
  max-width: 70%;
  border: 1px dotted black;
}
