<div class="container">
  <h1>Afspraak toevoegen</h1>
  <mat-card>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="form-control">
        <label>Titel</label>
        <!-- prettier-ignore-attribute -->
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          placeholder="Klacht"
          #titleInput="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && titleInput.invalid }"
          required
        />
      </div>
      <!-- Form validation -->
      <div *ngIf="f.submitted && titleInput.invalid" class="danger">
        Titel is vereist.
      </div>

      <!-- Form validation -->
      <div class="form-control">
        <label>Notities</label>
        <textarea
          name="notes"
          [(ngModel)]="notes"
          style="height: 200px;"
          placeholder="Medicijnen, bijzonderheden..."
        ></textarea>
      </div>

      <div class="form-control">
        <label>Patient</label>
        <input
          type="text"
          name="patient"
          required
          [(ngModel)]="patient"
          placeholder="Naam"
          #patientInput="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && patientInput.invalid }"
        />
      </div>
      <div *ngIf="f.submitted && patientInput.invalid" class="danger">
        Naam van patient is vereist.
      </div>
      <div class="form-control">
        <label>Leeftijd</label>
        <input
          type="number"
          name="age"
          required
          [(ngModel)]="age"
          placeholder="21"
        />
      </div>
      <div class="form-control">
        <label>Begint</label>
        <input
          type="datetime-local"
          required
          name="start"
          [(ngModel)]="start"
          #startInput="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && startInput.invalid }"
        />
      </div>
      <div *ngIf="f.submitted && startInput.invalid" class="danger">
        Starttijd is vereist.
      </div>
      <div class="form-control">
        <label>Eindigt</label>
        <input
          type="datetime-local"
          required
          name="end"
          [(ngModel)]="end"
          #endInput="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && endInput.invalid }"
        />
      </div>
      <div *ngIf="f.submitted && endInput.invalid" class="danger">
        Eindtijd is vereist.
      </div>
      <div class="form-control">
        <button
          mat-raised-button
          type="submit"
          value="Submit"
          [disabled]="!f.form.valid"
        >
          Voeg afspraak toe
        </button>
      </div>
    </form>
  </mat-card>
</div>
