:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(24, 24, 24);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  position: absolute;
  padding: 5px 10px;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #19d27c;
  color: white;
  font-weight: 600;
}
.content {
  position: relative;
  top: 70px;
}

.week-nav {
  background: #19d27c;
  min-width: 100px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  outline: none;
}
