<!-- Toolbar -->
<div class="toolbar">
  <h2>{{ title }}</h2>
  <h1>Week: {{ weekNumber }}</h1>
  <h2>{{ "Calendar" | uppercase }}</h2>
</div>

<!--Content-->
<div class="content">
  <!-- <app-event-item *ngFor="let event of events" [event]="event"></app-event-item> -->
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
  >
  </mwl-calendar-week-view>
  <app-event-form (addEvent)="addEvent($event)"></app-event-form>
</div>

<!-- Footer -->
<footer></footer>
